<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- IMPORTANT POUR MOBILE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post-it App</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <!-- nom du tableau -->
    <h2 id="boardTitle"></h2>
    <!-- zone pour login ou logout -->
    <div id="auth"></div>

    <!-- zone où les post-it seront affichés -->
    <div id="board"></div>

    <!-- socket AVANT ton script -->
    <script src="/socket.io/socket.io.js"></script>
    <!-- JS -->
    <script src="/script.js"></script>
    
</body>
</html>